<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.car.system.web.mapper.SysUserRoleMapper">
    <!--修改用户-->
    <update id="updateUserRoleById" parameterType="java.lang.Integer">
        UPDATE sys_user_role SET
        role_id  = #{roleId}
        WHERE user_id = #{userId};
    </update>

    <delete id="deleteUserRole" parameterType="Object">
        delete from sys_user_role where user_uuid = #{userUuid}
    </delete>

    <select id="queryUserRoleList" parameterType="java.lang.String" resultType="com.car.system.web.model.SysRole">
        SELECT
        sr.*
        FROM
        sys_user_role sur
        LEFT JOIN sys_role sr ON sur.role_uuid = sr.uuid
        WHERE
        sur.user_uuid = #{userUuid}
        AND sr.sts = 0
        AND sr.`status` = 0
    </select>
</mapper>
