<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.account.web.mapper.store.StoreAccountMapper">

    <update id="deleteStoreAccountByStoreUuid" parameterType="java.lang.String">
        update store_account set sts = 1 where store_uuid = #{storeUuid} and sts = 0
    </update>

    <select id="selectStoreAccount" resultType="com.car.account.web.model.store.StoreAccount">
        select * from store_account where store_uuid = #{storeUuid} and sts = 0
    </select>

    <update id="updateStoreAccount">
        update
            store_account
        set
            account_amount = #{updateStoreAccount.accountAmount},
            total_amount = #{updateStoreAccount.totalAmount},
            last_updated_time = #{updateStoreAccount.lastUpdatedTime},
            last_updated_by = #{updateStoreAccount.lastUpdatedBy}
        where
            store_uuid = #{updateStoreAccount.storeUuid}
    </update>

</mapper>