<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.utility.web.mapper.PayMapper">

    <update id="updateOrderStatus">
        update info_order set order_state = #{orderState} where order_no=#{orderNo}
    </update>

    <update id="updatePayOrderUuid">
        update pay_order set uuid = #{newUuid} where uuid = #{uuid}
    </update>

</mapper>
