<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.account.web.mapper.goods.GoodsParentMapper">
    <select id="queryListByParent" parameterType="com.car.account.web.model.goods.GoodsParent" resultType="com.car.account.web.model.goods.GoodsParent">
        select * from goods_parent where sts = #{sts}
        <if test="parentId != null and parentId !=''">
            and parent_id = #{parentId}
        </if>
        order by order_num asc
    </select>
</mapper>