<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.order.web.mapper.consult.ConsultMapper">

    <sql id="showConsultList">
        SELECT c.*,d.`consult_desc` AS consultDesc,d.`answer_desc` AS answerDesc,cd.uuid as orderUuid FROM consult c
          LEFT JOIN consult_detail d ON c.`uuid` = d.`consult_uuid`
          LEFT JOIN consult_order cd on cd.consult_uuid = c.uuid and cd.order_type = 1
        WHERE c.sts = 0 AND d.sts = 0 and cd.sts = 0
        order by c.created_time desc
    </sql>

    <sql id="showConsultDetail">
        SELECT c.*,d.`consult_desc` AS consultDesc,d.`answer_desc` AS answerDesc FROM consult c
              LEFT JOIN consult_detail d ON c.`uuid` = d.`consult_uuid`
        WHERE c.sts = 0 AND d.sts = 0
    </sql>
    <!-- 车主可咨询问题列表 -->
    <select id="queryShowConsultList" resultType="com.car.order.web.dto.consult.ConsultDto">

        SELECT * FROM (
          <include refid="showConsultList"/>
        ) s
        where s.answer_sts = 1
        AND s.consult_check_sts = 1
        AND s.answer_check_sts = 1
        order by s.created_time desc
    </select>

    <select id="queryConsultByUuid" parameterType="java.lang.String" resultType="com.car.order.web.dto.consult.ConsultDto">

        SELECT * FROM (
          <include refid="showConsultDetail"/>
        ) s
        where 1  = 1
        <if test="null != uuid and uuid != ''">
            AND s.uuid = #{uuid}
        </if>
    </select>

    <!-- 查询待回答列表 -->
    <select id="queryPreAnswerList" parameterType="java.lang.String" resultType="com.car.order.web.dto.consult.ConsultDto">
        SELECT
        *
        FROM
            (
                SELECT
                *
                FROM
                (
                SELECT
                        c.*,
                        d.`consult_desc` AS consultDesc,
                        d.`answer_desc` AS answerDesc,
                        cd.uuid AS orderUuid,
                        cd.order_sts AS orderSts,
                        cd.order_amount AS consultAmt
                    FROM
                    consult c
                    LEFT JOIN consult_detail d ON c.`uuid` = d.`consult_uuid`
                    LEFT JOIN consult_order cd ON c.uuid = cd.consult_uuid
                    WHERE
                        c.sts = 0
                        AND d.sts = 0
                        AND cd.sts = 0
                        AND cd.order_type = 1
                        AND c.technician_uuid = #{userUuid}
                        AND cd.order_sts = 1
                ) temp1 UNION ALL
                SELECT
                *
                FROM
                (
                    SELECT
                        c.*,
                        d.`consult_desc` AS consultDesc,
                        d.`answer_desc` AS answerDesc,
                        cd.uuid AS orderUuid,
                        cd.order_sts AS orderSts,
                        cd.order_amount AS consultAmt
                    FROM
                    consult c
                    LEFT JOIN consult_detail d ON c.`uuid` = d.`consult_uuid`
                    LEFT JOIN consult_order cd ON c.uuid = cd.consult_uuid
                    WHERE
                        c.sts = 0
                        AND d.sts = 0
                        AND cd.sts = 0
                        AND cd.order_type = 1
                        AND c.consult_type = 2
                        AND c.sts = 0
                        AND c.consult_check_sts = 1
                        AND c.technician_uuid IS NULL
                ) temp2
            ) result_temp
        ORDER BY
        result_temp.created_time DESC,
        result_temp.answer_sts ASC
    </select>

    <!--<select id="robAanswer" resultType="com.car.order.client.response.order.consult.ConsultBaseRes">


    </select>-->

    <!-- 查询待抢单列表 -->
    <select id="queryPreAnswerListTwo" parameterType="java.lang.String" resultType="com.car.order.web.dto.consult.ConsultDto">
		 SELECT
                 c.*,
                 d.`consult_desc` AS consultDesc,
                 d.`answer_desc` AS answerDesc,
                 cd.uuid AS orderUuid,
                 cd.order_sts AS orderSts,
                 cd.order_amount AS consultAmt
             FROM
             consult c
             LEFT JOIN consult_detail d ON c.`uuid` = d.`consult_uuid`
             LEFT JOIN consult_order cd ON c.uuid = cd.consult_uuid
             WHERE
                 c.sts = 0
                 AND d.sts = 0
                 AND cd.sts = 0
                 AND cd.order_type = 1
                 AND c.consult_type = 2
                 AND c.sts = 0
                 AND c.consult_check_sts = 1
                 AND c.technician_uuid IS NULL
                 AND c.car_owner_uuid != #{userUuid}
          ORDER BY    
                   c.created_time DESC  
    </select>
    <select id="getMyQuestion" resultType="com.car.order.client.response.order.consult.ConsultRes">
        SELECT
            consult.uuid,
            consult.title,
            consult_detail.consult_desc
        FROM
            consult
            LEFT JOIN consult_detail ON consult_uuid = consult.uuid
        WHERE
            consult.car_owner_uuid = #{userUuid}
            AND consult_detail.sts=0
            AND consult.sts=0
            AND consult.consult_check_sts=1
            AND consult.answer_check_sts=1
            AND consult.answer_sts=1
    </select>

    <select id="getMyAudit" resultType="com.car.order.client.response.order.consult.ConsultRes">
        SELECT
            consult.uuid,
            consult.title,
            consult_detail.consult_desc
        FROM
            consult_order
            LEFT JOIN consult ON consult_order.consult_uuid = consult.uuid
            LEFT JOIN consult_detail ON consult_detail.consult_uuid=consult.uuid
        WHERE
            consult_order.order_type = 4
            AND consult_order.car_owner_uuid = #{userUuid}
            AND consult_order.sts = 0
            AND consult_order.service_sts = 1
            AND consult_order.order_sts =1
            AND consult.sts=0
            AND consult.answer_check_sts=0
            AND consult.consult_check_sts=0
            AND consult.answer_sts=1
    </select>
    <select id="getMyAnswer" resultType="com.car.order.client.response.order.consult.ConsultRes">
        SELECT
           consult.*
        FROM
            consult
        WHERE
             consult.consult_check_sts=1
            AND consult.answer_check_sts=1
            AND consult.sts=0
			AND consult.answer_sts=1
		    AND consult.technician_uuid=#{userUuid}
		order by	consult.created_time desc
    </select>
</mapper>
